<%- include ('../header/header.ejs') %>


<div class='center'>

</div>
<% if (session == 'noSession') { %>
<div class='center'>
  <h3>In order to leave us a message, please log in!</h3>
</div>
<% } else { %>
<div class='center' style="flex-direction: column">
  <h3>Welcome <%= session.username %>, please leave feedback</h3>
    <textarea id="output" rows="15" cols="60"></textarea>
    <input type="text" id="chat-input">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
    <script src='/about.js'></script>
</div>
<% } %>

<%- include ('../footer/footer.ejs') %>